@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	background-color: #BFD8D2;
	color: rgb(64, 64, 64);
	font-size: 16px;
	font-family:'Lora', serif;
	line-height: 1.5;
	margin: 2em;
}

header {
	border: 1% black solid;
	padding: 2%;
}


nav {
	background-color: #BFD8D2;
}

nav a {
	color: #2f3a50;
	display: inline-block;
	padding: 1.8em;
	text-decoration: none;
}

section {
	background-color: #fff2e6;
	padding: 4em;
}

form {
	margin: 2em 0 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Open Sans', sans-serif;
}

p {
	font-family:'Lora', serif;
	font-size: 1em;
	line-height: 1.5em;
	margin: 1em 0 0;
}

a {
	color: #394660;
	text-decoration: none;
}

ul {
    display: inline-block;
    list-style-position: inside;
    text-align: center; 
    text-align:left;
}

label {
	padding-right: .5em;
}

input[type="email"], input[type="text"] {
	border: none;
	border-radius: .5em;	
	display: block;
	margin: 1.5em 0 0 0;
	padding: 1em;
	width: 50%;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: green;
    border: none;
    border-radius: .5em;
    color: white;
    cursor: pointer;
    font-size: 1em;
  	margin: 1em 0 1em 0;
    padding: .6em;
    text-decoration: none;
}

#subscribe input {
	display: inline-block;
}

#recent {
	width: 100%;
}

#Topics {
	padding: 1em;
	width: 50%;
}

input[type="submit"]:hover {
    background-color: #45a049;
    }


textarea {
	border: none;
	border-radius: .5em;
	display: block;
	height: 4em;
	max-width: 50em;
	padding: 1em;
	width: 50%;
}

article {
	background-color: #ffffff;
	padding: 2em;
	margin: 1em;
	width: 50%;
}


footer {
	background-color: #fff2e6;
	padding: 2em;
}

.hero {
	background:url(../images/heroplaceholder.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 50vh;
}

.logo {
	width: 100%
}

.fa {
	border-radius: .5em;
	font-size: 3em;
	margin: 1em 1em;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	width: 4em;
	
}

.fa-instagram {
	background: #125688;
  	color: white; 
}

.fa-facebook {
  	background: #3B5998;
  	color: white;
}

.fa-twitter {
 	background: #55ACEE;
 	color: white;
}

.italic{ 
 	font-style: italic; 
}

.articleimg {
	float: left;
	padding: 1.5em;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#header {
	text-align: center;
	width: 20em;
}

#two_column {
    background-color: #fff2e6;
    max-width: 1200px;
    margin: auto;
    padding: 3%;
}


#left {
    border: 1% black solid;
    float: left;
    max-width: 40em;
    padding: 3%;
    width: 50%;
}

#right {
    float: right;
}

#subscribe {
	background-color: #8A9ABA;
	color: #ffffff;
	font-size: 1.25em;
}

#organizeit {
	background-color: #8A9ABA;
	color: #ffffff;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 1024px) {

	.hero {
		background: none;
		height: initial;
	}

	#header {
		margin: auto;
	}
}


@media only screen and (max-width: 680px) {

	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}

	p {
		text-align: center;
	}

	nav a {
		display: block;
		text-align: center;
		margin: 1em;
	}

	input[type="email"], input[type="text"] {
		width: 100%;
		display: block;
	}

	.articleimg {
		width: 100%;
		margin: auto;
	}

	#left {
	    float: none;
	    width: auto;
	}

	#right {
    	float: none;
    	text-align: center;
	}

}




