@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #BFD8D2;
	color: rgb(64, 64, 64);
	font-size: 16px;
	font-family:'Lora', serif;
	line-height: 1.5em;
	margin: 2em;
}

header {
	border: 1% black solid;
	padding: 2%;
}

nav {
	background-color: #BFD8D2;
}

nav a {
	text-decoration: none;
	color: #2f3a50;
	margin: 1.8em;
	display: inline-block;
}

section {
	padding: 4em;
	background-color: #fff2e6;
}

form {
	padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Open Sans', sans-serif;
}

p {
	font-family:'Lora', serif;
	font-size: 1em;
	width: 30em;
	line-height: 1.5em;
	margin: 2em 0;
}

a {
	text-decoration: none;
	color: #394660;
}

ul {
    list-style-position: inside;
}

article {
	background-color: #dfe3ec;
	padding: 2em;
	margin: 1em;
}

img {
	margin: 2%;
}

footer {
	background-color: #fff2e6;
	padding: 2em;
}

.hero {
	background:url(../images/heroplaceholder.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 50vh;
}

.fa {
  padding: 1em;
  font-size: 3em;
  width: 4em;
  text-align: center;
  text-decoration: none;
  margin: 1em 1em;
}

.fa-instagram {
	background: #125688;
  	color: white; 
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#two_column {
    background-color: #fff2e6;
    padding: 3%;
}

#left {
    border: 1% black solid;
    padding: 3%;
    float: left;
    width: 50%;
}

#right {
    background-color: #eff5f4;
    border: 1% black solid;
    padding: 3%;
    margin: 5%;
    float: left;
    width: 10%;
}

#subscribe {
	background-color: #8A9ABA;
	color: #ffffff;
	text-align: center;
}

#organizeit {
	background-color: #8A9ABA;
	color: #ffffff;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
