@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
aside {
	background:white;
	height:50px;
	margin:1em 0;
}
header {
	padding: 20px;
}
body {
	background-color: rgb(194, 214, 214);
	color: rgb(64, 64, 64);
	font-size: 16px;
	font-family:'Lora', serif;
	line-height: 1.5em;
	margin: 2em;
}
section {
	padding:4em 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family:'Open Sans', sans-serif;
}

p {
	font-family:'Lora', serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 2em 0;
}

#slogan	{
	font-style: italic;
}
.hero {
	background:url(../images/heroplaceholder.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 50vh;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-instagram {
	background: #125688;
  	color: white; 
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
