* {
	padding: 0;
	margin: 0;
}
header {
	padding: 20px;
}

body {
	background-color: rgb(194, 214, 214);
	color: rgb(64, 64, 64);
	font-family: sans-serif;
	font-weight: lighter;

}

#slogan	{
	font-style: italic;
}